#ExpidusNotifyWindow {

    background-color: #4d4d4d;
    border-radius: 20px;
    border-color : #ffffff;
    border-style: outset;
    border-width: 2px;
    padding: 20px;
}

#ExpidusNotifyWindow:hover {
    border-width: 3px;
    border-color : #ffffff;
}

#ExpidusNotifyWindow GtkLabel,
#ExpidusNotifyWindow GtkImage {
    color: #ffffff;
    -GtkWidget-link-color:#a7a7a7;
}

#ExpidusNotifyWindow GtkLabel#summary {
    font : Bold;
}

#ExpidusNotifyWindow GtkButton {

    border-image: none;
    background-image: none;
    background-color : #202020;
    color: #ffffff;
}

#ExpidusNotifyWindow GtkButton:hover {

    border-image: none;
    background-image: none;
    background-color : #404040;
    color: #ffffff;
}
