*.o
.*.swp
.*.swo
stamp-*
*-stamp

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
.deps
.dirstamp

po/.intltool-merge-cache
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo

expidus1-notifyd-config/expidus1-notifyd-config
expidus1-notifyd-config/expidus1-notifyd-config.desktop
expidus1-notifyd-config/expidus1-notifyd-config.ui.h

expidus1-notifyd/notify-dbus.h
expidus1-notifyd/com.expidus.expidus1-notifyd.Notifications.service
expidus1-notifyd/expidus-notify-enum-types.c
expidus1-notifyd/expidus-notify-enum-types.h
expidus1-notifyd/expidus-notify-marshal.c
expidus1-notifyd/expidus-notify-marshal.h
expidus1-notifyd/expidus-notify-gbus.c
expidus1-notifyd/expidus-notify-gbus.h
expidus1-notifyd/expidus1-notifyd.service
expidus1-notifyd/expidus1-notifyd

tests/test-actions
tests/test-positioning
tests/test-text
test/test-icons

m4/
panel-plugin/.libs/
panel-plugin/libnotification-plugin.la
panel-plugin/libnotification_plugin_la-notification-plugin-dialogs.lo
panel-plugin/libnotification_plugin_la-notification-plugin-log.lo
panel-plugin/libnotification_plugin_la-notification-plugin.lo
panel-plugin/notification-plugin.desktop
